{% load static %}
<div id="Details" class="details-container details-root-class-name">
    <h1 class="details-text"><span>The Details</span></h1>
    <div class="details-container1">
        <div class="details-event-wrapper">
            <div class="details-event">
                <img alt="Cocktail Hour" src="{% static 'images/wineglass-200h.png' %}" class="details-image">
                <h1 class="details-heading"><span>Cocktail Hour</span></h1>
                <span class="details-time">6:00 PM</span>
            </div>
        </div>
        <div class="details-event-wrapper">
            <div class="details-event">
                <img alt="Chuppah" src="{% static 'images/chuppah.png' %}"  class="details-image-chuppah">
                <h1 class="details-heading"><span>Chuppah</span></h1>
                <span class="details-time">7:00 PM</span>
                <h1 class="details-heading2">
                    <span>The sun waits for no one.<br>SUNSET Chuppa will start promptly on time.</span>
                </h1>
            </div>
        </div>
        <div class="details-event-wrapper">
            <div class="details-event">
                <img alt="Let's Dance" src="{% static 'images/dance.png' %}" class="details-image-dance">
                <h1 class="details-heading"><span>Let's Dance</span></h1>
                <span class="details-time">8:00 PM</span>
            </div>
        </div>
    </div>
</div>
