{% load static %}
<div id="Details" class="details-container-he details-root-class-name-he">
    <h1 class="details-text-he"><span>כל הפרטים</span></h1>
    <div class="details-container1-he">
        <div class="details-event-wrapper-he">
            <div class="details-event-he">
                <img alt="Cocktail Hour" src="{% static 'images/wineglass-200h.png' %}" class="details-image-he">
                <h1 class="details-heading-he"><span>קבלת פנים</span></h1>
                <span class="details-time-he">18:00</span>
            </div>
        </div>
        <div class="details-event-wrapper-he">
            <div class="details-event-he">
                <img alt="Chuppah" src="{% static 'images/chuppah.png' %}" class="details-image-chuppah-he">
                <h1 class="details-heading-he"><span>חופה</span></h1>
                <span class="details-time-he">19:00</span>
                <h1 class="details-heading2-he">
                    <span>שימו לב - חופת שקיעה<br>השמש לא מחכה למאחרים</span>
                </h1>
            </div>
        </div>
        <div class="details-event-wrapper-he">
            <div class="details-event-he">
                <img alt="Let's Dance" src="{% static 'images/dance.png' %}" class="details-image-dance-he">
                <h1 class="details-heading-he"><span>ריקודים</span></h1>
                <span class="details-time-he">20:00</span>
            </div>
        </div>
    </div>
</div>
