{% load static %}
<!-- main/includes/gallery-date.html -->
{% comment %} <div class="gallery-date">
  <div class="gallery-date-max-width thq-section-max-width">
    <div class="gallery-date-content">
      <div class="gallery-date-container">
        <img alt="PlaceholderImage1" src="{% static 'images/gallery_21.JPG' %}" loading="lazy" class="gallery-date-image">
      </div>
      <div class="gallery-date-container">
        <img alt="PlaceholderImage2" src="{% static 'images/gallery_22.JPG' %}" loading="lazy" class="gallery-date-image">
      </div>
    </div>
  </div>
</div> {% endcomment %}

<div class="background-container-last"></div>


{% comment %} <div class="image-container-last">
  <img src="{% static 'images/background.jpg' %}" alt="background image" class="background-image-last">
</div>


<style>
.image-container-last {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-image-last {
  height: 95vh;
  width: 95vw;
  object-fit: contain; /* Make the image contained */
  border-radius: 10px; /* Add rounded edges */
}
</style> {% endcomment %}
