{% load static %}
<!-- main/includes/gallery-date.html -->
<div class="gallery-date">
  <div class="gallery-date-max-width thq-section-max-width">
    <div class="gallery-date-content">
      <div class="gallery-date-container">
        <img alt="PlaceholderImage1" src="{% static 'images/picture14-1000h.png' %}" loading="lazy" class="gallery-date-image">
      </div>
      <div class="gallery-date-container">
        <img alt="PlaceholderImage2" src="{% static 'images/picture-1000h.png' %}" loading="lazy" class="gallery-date-image">
      </div>
      <div class="gallery-date-container">
        <img alt="PlaceholderImage3" src="{% static 'images/picture24-1000h.png' %}" loading="lazy" class="gallery-date-image">
      </div>
    </div>
  </div>
</div>
