{% load static %}
<header>
    <div class="logo">
        <a href="{% url 'home' %}">Guy Maduel</a>
    </div>
    <input type="checkbox" id="nav-toggle" class="nav-toggle" aria-label="Toggle navigation bar">
    <nav>
        <ul>
            <li><a href="{% url 'home' %}"><i class="fa-solid fa-house"></i> Home</a></li>
            <li><a href="{% url 'guest_list' %}">Guest List</a></li>
            <li><a href="{% url 'invitation' 'admin' %}">Invitation</a></li>
            <li><a href="{% url 'statistics' %}">Statistics</a></li>
        </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
        <span><i class="fa fa-bars"></i></span>
    </label>
</header>
