{% load static %}
<!-- main/includes/location.html -->
<div id="Location" class="location-container location-root-class-name">
  <h1 class="location-heading"><span>המקום</span></h1>
  <div class="location-container1">
    <div class="location-container2">
      <img src="{% static 'images/location.png' %}" alt="image" class="location-image">
      <span class="location-name">DUEE דואאה</span>
      <span class="location-text1"><span>המאה ועשרים, ראשון לציון</span></span>
    </div>
    <div class="location-container3">
      <div class="location-container4">
        <div class="location-container5">
          <iframe class="custom-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3384.284195565956!2d34.74653087247245!3d31.980310524279865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1502b3a9b28dda9b%3A0x1dc938b29d072b27!2sDuee%20Events%20by%20Lago!5e0!3m2!1sen!2sus!4v1715737559701!5m2!1sen!2sus" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
