{% load static %}
<div id="UsefulInfo" class="useful-info-container">
    <h1 class="useful-info-title">Useful Info</h1>
    <div class="useful-info-content">
        <div class="useful-info-section">
            <img alt="Registry" src="{% static 'images/registry.png' %}" class="useful-info-image">
            <h2 class="useful-info-heading">Registry</h2>
            <p class="useful-info-text">
                Your presence is the greatest gift of all. However, for those who wish to honor us with a token of love, you can find our registry. <a href="https://www.zola.com/registry/guyandaaliyah" class="useful-info-link">HERE</a>.
            </p>
        </div>
        <div class="useful-info-section">
            <img alt="Dress Code" src="{% static 'images/dress_code.png' %}" class="useful-info-image">
            <h2 class="useful-info-heading">Dress Code</h2>
            <p class="useful-info-text">
                Dress to impress. We kindly request that you embrace the elegance of the occasion.
            </p>
        </div>
        <div class="useful-info-section">
            <img alt="Dress Code" src="{% static 'images/Kosher.png' %}" class="useful-info-image">
            <h2 class="useful-info-heading">Dinner</h2>
            <p class="useful-info-text">
                All the food at our wedding is certified kosher under Hashgacha of Rishon Letzion.
            </p>
        </div>
    </div>
</div>

<div class="useful-info-container">
    <div class="useful-info-content">
        <div class="useful-info-section">
            <img alt="Registry" src="{% static 'images/parking.png' %}" class="useful-info-image">
            <h2 class="useful-info-heading">Parking</h2>
            <p class="useful-info-text">
                    There is plenty of free parking available around our venue for your convenience.
            </p>
        </div>
        <div class="useful-info-section">
            <img alt="Dress Code" src="{% static 'images/redalert.png' %}" class="useful-info-image">
            <h2 class="useful-info-heading">Red Alert</h2>
            <p class="useful-info-text">
                In  case of a siren, our venues' underground garage is the designated safe space.
        </div>
    </div>
</div>



    