{% load static %}
<div id="UsefulInfo" class="useful-info-container-he">
    <h1 class="useful-info-title-he">מידע שימושי</h1>
    <div class="useful-info-content-he">
        <div class="useful-info-section-he">
            <img alt="Dress Code" src="{% static 'images/dress_code.png' %}" class="useful-info-image-he">
            <h2 class="useful-info-heading-he">קוד לבוש</h2>
            <p class="useful-info-text-he" style="direction: rtl;">
                אתם כבר הכי יפים שיש, אנחנו רוצים לעוף עליכם עוד יותר, תתלבשו כדי להרשים !
            </p>
        </div>
        <div class="useful-info-section-he">
            <img alt="Dress Code" src="{% static 'images/Kosher.png' %}" class="useful-info-image-he">
            <h2 class="useful-info-heading-he">כשרות</h2>
            <p class="useful-info-text-he" style="direction: rtl;">
                כשר בהשגחת רבנות ראשון לציון. ניתן לקבל מנות גלאט חיצוניות בתיאום מראש.
            </p>
        </div>
    </div>
</div>

<div class="useful-info-container-he">
    <div class="useful-info-content-he">
        <div class="useful-info-section-he">
            <img alt="Registry" src="{% static 'images/parking.png' %}" class="useful-info-image-he">
            <h2 class="useful-info-heading-he">חניה</h2>
            <p class="useful-info-text-he" style="direction: rtl;">
                    לנוחיותכם, יש המון חניה במתחם האירוע ובסיס היס פלאנט.
                   
            </p>
        </div>
        <div class="useful-info-section-he">
            <img alt="Dress Code" src="{% static 'images/redalert.png' %}" class="useful-info-image-he">
            <h2 class="useful-info-heading-he">צבע אדום</h2>
            <p class="useful-info-text-he" style="direction: rtl;">
            במקרה של צבע אדום, ישנו מרחב מוגן גדול באולם.
        </div>
    </div>
</div>
