{% load static %}
<div id="UsefulInfo" class="useful-info-container">
    <h1 class="useful-info-title">מידע שימושי</h1>
    <div class="useful-info-content">
        <div class="useful-info-section">
            <img alt="Dress Code" src="{% static 'images/dress_code.png' %}" class="useful-info-image">
            <h2 class="useful-info-heading">קוד לבוש</h2>
            <p class="useful-info-text" style="direction: rtl;">
                אתם כבר הכי יפים שיש, אנחנו רוצים לעוף עליכם עוד יותר, תתלבשו כדי להרשים !
            </p>
        </div>
    </div>
</div>
