@font-face {
  font-family: 'PiersonDemo';
  src: url('/static/fonts/PiersonDemo.ttf') format('truetype');
  color: #56513D;
}

@font-face {
  font-family: 'josefin-sans-light';
  src: url('/static/fonts/JosefinSans-Light.ttf') format('truetype');
}

.rsvp-container {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.rsvp-text1 {
  font-size: 25px;
  font-style: normal;
  text-align: center;
  font-weight: bold;
  font-family: 'PiersonDemo';
  color: #56513D;
}

.logo {
  display: none;
  z-index: 10;
  left: 0;
  margin-top: 10px;
  margin-left: 10px;
}

.rsvp-container1 {
  gap: var(--dl-space-space-sixunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  transition: max-height 0.3s ease;
}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 96px;
  padding: 10px;
  /* Add padding to ensure space for scaling */
  height: auto;
  justify-content: center;
  align-items: center;
}

.rsvp-button,
.rsvp-button1 {
  color: #ffffff;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-theme-accent2);
  transition: transform 0.2s ease-in-out;
  border-radius: var(--dl-radius-radius-buttonradius);
  font-size: 18px;
  /* Adjust this size as needed */
  font-style: normal;
  text-align: center;
  font-family: 'josefin-sans-light';
  font-weight: 400;
  border: none;
  margin-bottom: 20px;
  /* Add this line to remove the border */
}


.rsvp-button:hover,
.rsvp-button1:hover {
  transform: scale(1.1);
  background-color: var(--dl-color-theme-accent2);
  /* Ensure background color remains the same on hover */
}

.attend-form {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.attend-form .attend-label {
  margin: 8px 0;
  display: block;
  font-size: 20px;
  /* Same as .rsvp-text1 */
  font-style: normal;
  text-align: center;
  font-weight: bold;
  font-family: 'PiersonDemo';
  color: #56513D;
}

.attend-form .attend-input {
  margin: 8px 0;
  display: block;
  font-size: 20px;
  /* Adjust size as needed */
  padding: 10px;
  /* Adjust padding as needed to make the box larger */
}

.attend-form .rsvp-button {
  margin: 8px 0;
  display: block;
  font-size: 18px;
  /* Adjust this size to match the "WILL ATTEND" button */
  font-style: normal;
  text-align: center;
  font-weight: 400;
}

.hero-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url("{% static 'images/backround-1500w.png' %}");
  background-repeat: repeat-y;
  background-position: top center;
  overflow: hidden;
}


.hero-navbar-interactive {
  width: 100%;
  height: var(--dl-size-size-medium);
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}

.hero-desktop-menu {
  gap: 0;
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.hero-link {
  display: contents;
}

.hero-image {
  width: 130px;
  height: 150px;
  align-self: center;
  object-fit: cover;
  margin-top: 100px;
  text-decoration: none;
}

.hero-image:hover {
  transform: scale(1.1);
}

.hero-links {
  gap: 128px;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-items: center;
  margin-right: var(--dl-space-space-fourunits);
  margin-bottom: 0;
  flex-direction: row;
  justify-content: center;
}

/* Ensure all links and text are black and bold */
.hero-link1,
.hero-link2,
.hero-link3,
.hero-text,
.hero-text3 {
  text-decoration: none;
  color: #56513D;
  font-weight: bold;
  font-size: 20px;
  font-family: 'PiersonDemo';
  transition: transform 0.2s ease-in-out;
  /* Smooth transition for hover effect */
}

/* Hover effect to make links slightly larger */
.hero-link1:hover,
.hero-link2:hover,
.hero-link3:hover,
.hero-text:hover,
.hero-text3:hover {
  transform: scale(1.1);
  /* Slightly larger */
  color: #56513D;
  /* Ensure the color stays black on hover */
}

/* Prevent visited links from changing color */
.hero-link1:visited,
.hero-link2:visited,
.hero-link3:visited,
.hero-text:visited,
.hero-text3:visited {
  color: #56513D;
}

.hero-link1 {
  text-decoration: none;
}

.hero-link2 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}

.hero-link3 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}

.hero-text {
  margin-left: var(--dl-space-space-twounits);
}

/* Ensure border and radius for hero-text3 */
.hero-text3 {
  padding: var(--dl-space-space-unit);
  text-align: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: double;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  text-decoration: none;
  display: inline-block;
  /* Ensure the element respects the border */
}

.hero-burger-menu {
  display: none;
}

.hero-icon {
  width: 25px;
  height: 25px;
  right: 0;
  margin: 0;
}

.guest-name {
  font-size: 2em;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
}

.hero-mobile-menu {
  top: 0;
  left: 0;
  width: 40%;
  height: 100vh;
  display: none;
  padding: 16px;
  z-index: 100;
  position: fixed;
  max-width: 150px;
  /* Ensure it is fixed to the viewport */
  flex-direction: column;
  justify-content: space-between;
  background-color: #EDEAE7;
  margin: 0;
  /* Ensure no margin is applied */
}


.hero-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.hero-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}

.hero-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-icon2 {
  width: 25px;
  height: 25px;
}

.hero-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.hero-link3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}

.invitation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: var(--dl-space-space-twounits);
  /* Ensure the container is centered */
}

.hero-image1 {
  width: 95vw;
  /* 95% of the viewport width */
  height: 85vh;
  /* 85% of the viewport height */
  object-fit: contain;
  /* Ensure the image is fully visible within the bounds */
  margin-top: -25px;
  position: relative;
  /* Position relative to the container */
}

.play-button {
  width: 30px;
  height: 30px;
  cursor: pointer;
  object-fit: contain;
  position: absolute;
  /* Position left based on the width of the invitation image */
  top: 50%;
  left: calc(50% - 25vw);
  /* Center vertically */
  transform: translateY(-50%);
  /* Adjust for the button's height */
  z-index: 1;
  /* Ensure the play button is above other elements */
}

.arrowdown {
  width: 110px;
  height: 110px;
  cursor: pointer;
  object-fit: contain;
  position: fixed;
  /* Position left based on the width of the invitation image */
  top: 80%;
  right: 0;
  /* Center vertically */
  transform: translateY(-50%);
  /* Adjust for the button's height */
  z-index: 1;
  /* Ensure the play button is above other elements */
}

.hero-burger-menu {
  display: none;
  position: absolute;
  /* Make it absolutely positioned */
  right: 0;
  /* Align it to the right */
  margin: 10px;
  /* Add some margin if needed */
}

@media(max-width: 950px) {
  .hero-navbar-interactive {
    padding: var(--dl-space-space-unit);
    align-self: flex-start;
  }

  .hero-desktop-menu {
    display: none;
  }

  .hero-burger-menu {
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    right: 10px;
    /* Align to the right with a small margin */
    top: 10px;
    /* Add a top margin if necessary */
  }

  .play-button {
    left: calc(50% - 45vw);
  }

  .arrowdown {
    right: 0;
  }

  .hero-mobile-menu {
    right: auto;
    /* Ensure right is not used */
    left: 0;
    /* Hook to the left */
    margin: 0;
    /* Reset any margin settings */
  }

  .hero-image1 {
    width: 95vw;
    height: 90vh;
    margin-top: -30px;
    object-fit: contain
  }

  .attend-label {
    font-size: 35px;
    font-style: normal;
    font-weight: normal;
  }

  .rsvp-text1 {
    font-size: 35px;
    font-style: normal;
    font-weight: normal;
  }

  .logo {
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
  }

  .hero-image {
    height: 100px;
    width: 80px;
    margin: 0;
    /* Ensure no margin */
  }
}

@media(max-width: 485px) {
  .hero-mobile-menu {
    right: auto;
    /* Ensure right is not used */
    left: 0;
    /* Hook to the left */
    margin: 0;
    /* Reset any margin settings */
  }


  .logo {
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
  }

  .hero-image {
    height: 80px;
    width: 70px;
    margin: 0;
    /* Ensure no margin */
  }
}

/* Styles for larger screens */
@media (min-width: 980px) and (min-height: 750px) {
  .hero-image1 {
    width: 600px;
    height: 700px;
    object-fit: fill;
    margin: -20px;
  }
}

@media(max-width: 500px) {
  .arrowdown {
    right: -38px;
  }
}


@media(max-width: 400px) {
  .play-button {
    left: calc(50% - 47vw);
  }

  .arrowdown {
    right: -38px;
  }

}